body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
}

  h1, h2, h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  

.retro-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.retro-section {
    flex: 0 0 48%;
    margin: 1%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    height: auto;
    box-sizing: border-box;
    position: relative;
}
/* Styles for the 4-step Retrospective */
#appreciate {
    background-color: #ffdef4; /* Light Pink */
}
#went-well {
    background-color: #c6ffc6; /* Light Green */
}
#do-better {
    background-color: #fce4e4; /* Light Red */
}
#next-actions {
    background-color: #e0e0fd; /* Light Blue */
}
/* Styles for the Starfish Retrospective */
#keep-doing {
    background-color: #b8dcff; /* Powder Blue */
}
#do-less {
    background-color: #ffd2e2; /* Melon */
}
#do-more {
    background-color: #dafeff; /* Flamingo Pink */
}
#stop-doing {
    background-color: #e5cff2; /* Lavender Gray */
}
#start-doing {
    background-color: #ffdacd; /* Peach Puff */
}

/* Styles for the Plus Delta Retrospective */
#plus {
    background-color: #c4e3ff; /* Baby Blue */
}
#delta {
    background-color: #d8ffca; /* Bone */
}

/* Styles for the Start, Stop, Continue Retrospective */
#start {
    background-color: #cdffba; /* Baby Blue Eyes */
}
#stop {
    background-color: rgb(251, 178, 178); /* Peach */
}
#continue {
    background-color: #e7fff3; /* Lemon Merengue */
}

/* Styles for the Sailboat Retrospective */
#wind {
    background-color: #dbcaff; /* Sky Blue */
}
#rocks {
    background-color: #cfffd9; /* Pastel Red */
}
#anchor {
    background-color: #f9dede; /* Pale Spring Bud */
}

#island {
    background-color: #c6f3fe; /* Pale Spring Bud */
}

.sticky-notes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
    min-height: 250px;
    /* Add the following to ensure left-to-right alignment */
    flex-direction: row;
    justify-content: flex-start; 
}

.sticky-note {
    background-color: #fff9c4; /* Light yellow */
    border: 1px solid #ffd600; /* Yellow border */
    padding: 10px;
    margin: 10px;
    min-height: 50px;
    width: 200px;
    resize: both;
    overflow: auto;
}


.sticky-note.empty::before {
    content: attr(data-placeholder);
    color: rgba(0, 0, 0, 0.5);
    cursor: text;
}

.sticky-note:active,
.sticky-note:focus {
    opacity: 0.5;
    color: rgba(0, 0, 0, 1);
}

.sticky-notes-container.over {
    border: 2px dashed #aaa;
}

h1 {
    text-align: center;
    color: #333;
    padding: 20px 0;
}

h2 {
    text-align: center;
    margin-top: 0;
}

.board-description {
    margin: 20px;
    padding: 15px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.board-description h2 {
    text-align: center;
    color: #333;
}

.board-description p,
.board-description ul {
    color: #666;
    line-height: 1.6;
}

.board-description ul {
    list-style-type: none;
    padding: 0;
}

.board-description li::before {
    content: '•';
    color: #007bff;
    position: relative;
}

.add-note {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

select,
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}

button:hover {
    background-color: #4cae4c;
}

.index-body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-group {
    display: flex;
    flex-direction: column;
   
}

/* Unique backgrounds for each board type */
#board-4step {
    background-image: url('path-to-4step-background.jpg');
}

#board-starfish {
    background-image: url('path-to-starfish-background.jpg');
}

#board-sailboat {
    background-image: url('path-to-sailboat-background.jpg');
}

#board-plusDelta {
    background-image: url('path-to-plusDelta-background.jpg');
}

#board-startStopContinue {
    background-image: url('path-to-startStopContinue-background.jpg');
}
