<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Stop Continue Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="icon-container">
        <a href="/" class="icon-link">
            <img src="{{ url_for('static', filename='images/home1.png') }}" alt="Home" class="button-icon">
        </a>
        <h2>Sprint Retrospective Board</h2>
        <a href="javascript:void(0);" onclick="exportToPDF()" class="icon-link">
            <img src="{{ url_for('static', filename='images/pdf.PNG') }}" alt="Export to PDF" class="button-icon">
        </a>
    </div>
    <div class="board-description">
        <h2>Start Stop Continue Retrospective</h2>
        <p><i>This simple yet effective model is great for teams that need to quickly identify actionable items, suitable for teams in the early stages of Agile adoption.</i> <br/>This retrospective board enables a straightforward review of team practices with three clear prompts:</p>
        <ul>
            <li><strong>Start:</strong> Enumerate the activities or strategies the team should begin employing.</li>
            <li><strong>Stop:</strong> Call out any counterproductive or unnecessary practices that need to be halted.</li>
            <li><strong>Continue:</strong> Reaffirm the valuable actions that contribute positively to the team's work and should persist.</li>
        </ul>
        <p>Interact with each section using sticky notes to voice your suggestions, arranging them to signal their importance or sequence.</p>
    </div>    

    <div class="retro-board" id="board-startStopContinue">
        <div id="pdf-header" style="display: none;">
            <h1>Sprint Retrospective Board</h1>
            <p>Page URL: <span id="page-url"></span></p>
          </div>

        <div class="retro-section" id="start">
            <h2>Start</h2>
            <div class="add-note" onclick="addStickyNoteToSection('start')">+</div>
            <div class="sticky-notes-container"></div>
        </div>
        <div class="retro-section" id="stop">
            <h2>Stop</h2>
            <div class="add-note" onclick="addStickyNoteToSection('stop')">+</div>
            <div class="sticky-notes-container"></div>
        </div>
        <div class="retro-section" id="continue">
            <h2>Continue</h2>
            <div class="add-note" onclick="addStickyNoteToSection('continue')">+</div>
            <div class="sticky-notes-container"></div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    <script type="text/javascript">
        var boardId = "{{ board_id }}";
    </script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
